<!doctype html>
<html>
<body>

<h2>INPUT</h2>

<form action="/predict", method="post">
  <p>HOME TEAM DATA</p>
  <p>home_rating_GK:</p>
  <p><input type="number" name="home_rating_GK" /></p>
  <p>home_rating_DF1:</p>
  <p><input type="number" name="home_rating_DF1" /></p>
  <p>home_rating_DF2:</p>
  <p><input type="number" name="home_rating_DF2" /></p>
  <p>home_rating_DF3:</p>
  <p><input type="number" name="home_rating_DF3" /></p>
  <p>home_rating_DF4:</p>
  <p><input type="number" name="home_rating_DF4" /></p>
  <p>home_rating_DF5:</p>
  <p><input type="number" name="home_rating_DF5" /></p>
  <p>home_rating_DF6:</p>
  <p><input type="number" name="home_rating_DF6" /></p>
  <p>home_rating_MF1:</p>
  <p><input type="number" name="home_rating_MF1" /></p>
  <p>home_rating_MF2:</p>
  <p><input type="number" name="home_rating_MF2" /></p>
  <p>home_rating_MF3:</p>
  <p><input type="number" name="home_rating_MF3" /></p>
  <p>home_rating_MF4:</p>
  <p><input type="number" name="home_rating_MF4" /></p>
  <p>home_rating_MF5:</p>
  <p><input type="number" name="home_rating_MF5" /></p>
  <p>home_rating_MF6:</p>
  <p><input type="number" name="home_rating_MF6" /></p>
  <p>home_rating_MF7:</p>
  <p><input type="number" name="home_rating_MF7" /></p>
  <p>home_rating_FW1:</p>
  <p><input type="number" name="home_rating_FW1" /></p>
  <p>home_rating_FW2:</p>
  <p><input type="number" name="home_rating_FW2" /></p>
  <p>home_rating_FW3:</p>
  <p><input type="number" name="home_rating_FW3" /></p>
  <p>home_rating_FW4:</p>
  <p><input type="number" name="home_rating_FW4" /></p>
  <p>home_avg_age:</p>
  <p><input type="number" name="home_avg_age" step="0.01"/></p>
  <p>home_number_win:</p>
  <p><input type="number" name="home_number_win" step="0.01"/></p>
  <p>home_number_draw:</p>
  <p><input type="number" name="home_number_draw" step="0.01"/></p>
  <p>home_number_goals:</p>
  <p><input type="number" name="home_number_goals" /></p>
  <p>home_number_against_goals:</p>
  <p><input type="number" name="home_number_against_goals" /></p>
  <p>AWAY TEAM DATA</p>
  <p>away_rating_GK:</p>
  <p><input type="number" name="away_rating_GK" /></p>
  <p>away_rating_DF1:</p>
  <p><input type="number" name="away_rating_DF1" /></p>
  <p>away_rating_DF2:</p>
  <p><input type="number" name="away_rating_DF2" /></p>
  <p>away_rating_DF3:</p>
  <p><input type="number" name="away_rating_DF3" /></p>
  <p>away_rating_DF4:</p>
  <p><input type="number" name="away_rating_DF4" /></p>
  <p>away_rating_DF5:</p>
  <p><input type="number" name="away_rating_DF5" /></p>
  <p>away_rating_DF6:</p>
  <p><input type="number" name="away_rating_DF6" /></p>
  <p>away_rating_MF1:</p>
  <p><input type="number" name="away_rating_MF1" /></p>
  <p>away_rating_MF2:</p>
  <p><input type="number" name="away_rating_MF2" /></p>
  <p>away_rating_MF3:</p>
  <p><input type="number" name="away_rating_MF3" /></p>
  <p>away_rating_MF4:</p>
  <p><input type="number" name="away_rating_MF4" /></p>
  <p>away_rating_MF5:</p>
  <p><input type="number" name="away_rating_MF5" /></p>
  <p>away_rating_MF6:</p>
  <p><input type="number" name="away_rating_MF6" /></p>
  <p>away_rating_MF7:</p>
  <p><input type="number" name="away_rating_MF7" /></p>
  <p>away_rating_FW1:</p>
  <p><input type="number" name="away_rating_FW1" /></p>
  <p>away_rating_FW2:</p>
  <p><input type="number" name="away_rating_FW2" /></p>
  <p>away_rating_FW3:</p>
  <p><input type="number" name="away_rating_FW3" /></p>
  <p>away_rating_FW4:</p>
  <p><input type="number" name="away_rating_FW4" /></p>
  <p>away_avg_age:</p>
  <p><input type="number" name="away_avg_age" step="0.01"/></p>
  <p>away_number_win:</p>
  <p><input type="number" name="away_number_win" step="0.01"/></p>
  <p>away_number_draw:</p>
  <p><input type="number" name="away_number_draw" step="0.01"/></p>
  <p>away_number_goals:</p>
  <p><input type="number" name="away_number_goals" /></p>
  <p>away_number_against_goals:</p>
  <p><input type="number" name="away_number_against_goals" /></p>
  <p><input type="submit" value="Predict"/></p>
</form>

</body>
</html>